# EXPERIMENT CONFIGURATION - Full parameter sweep experiments
#
# This configuration allows you to set prompts in the YAML file.
# The prompts' keys are abbreviations that can be used for naming files,
# and their values are the actual prompts for text-to-3D generation.
#
# USAGE:
# sbatch scripts/run_ours_exp.sh exp_repulsion_lambda_sweep

# TODO: λ_repulsion 1D coarse → fine 탐색 → 그다음 β(temperature) 단일 축 튜닝 → 마지막에 국소 2D(λ×β) 미세탐색.


exp0_baseline:
  name: exp0_baseline
  method: grid
  sweep_parameters:
    prompt: 
      hamburger: "a photo of a hamburger"
      icecream: "a photo of an ice cream"
      saguaro: "a small saguaro cactus planted in a clay pot"
      tulip: "a photo of a tulip"
    seed: [42]

  # fixed parameters
  fixed_parameters:
    repulsion_type: 'wo'
    num_particles: 8
    iters: 1500
    invert_bg_prob: 0.0 # always white background
    eval_radius: # not to crop the object adjust the radius
      hamburger: 3.0
      icecream: 4.0
      saguaro: 4.0
      tulip: 4.0

  settings:
    # visualize
    visualize: True
    save_iid: False
    visualize_fixed_viewpoint: True
    visualize_fixed_viewpoint_interval: 100

    # metrics
    metrics: True
    quantitative_metrics_interval: 50
    kernel_metrics_interval: 50
    losses_interval: 10
    efficiency_interval: 10 
    num_views: 8
    enable_lpips: False # disable lpips for faster training

# Experiment 1: Repulsion lambda sweep with multiple prompts
exp1_lambda_coarse_svgd:
  name: exp1_lambda_coarse_svgd
  method: grid
  sweep_parameters:
    prompt: 
      hamburger: "a photo of a hamburger" # simple prompt
      # icecream: "a photo of an ice cream" # complex prompt
      saguaro: "a small saguaro cactus planted in a clay pot" # complex prompt
      # tulip: "a photo of a tulip" # simple prompt
    repulsion_type: ['svgd']
    kernel_type: ['rbf', 'cosine']
    lambda_repulsion: # TODO: add more values
      svgd_cosine: [1e2, 5e2, 1e3, 5e3, 1e4]
      svgd_rbf: [1e2, 5e2, 1e3, 5e3, 1e4]
    seed: [42]
    
  fixed_parameters:
    num_particles: 8
    feature_extractor_model_name: "facebook/dinov2-base"
    feature_layer: 11
    rbf_beta: 1.0
    cosine_beta: 1.0
    cosine_eps_shift: 1e-3
    iters: 1500
    use_sigma_weight: True
    rep_sigma_power: 0.5
    use_cosine_decay: True
    rep_cosine_warmup: 0.2
    invert_bg_prob: 0.0 # always white background

    eval_radius:
      hamburger: 3.0
      icecream: 4.0
      saguaro: 4.0
      tulip: 4.0

  settings:
    # visualize
    visualize: True
    save_iid: False
    visualize_fixed_viewpoint: True
    visualize_fixed_viewpoint_interval: 100

    eval_W: 256
    eval_H: 256
    
    # metrics
    metrics: True
    quantitative_metrics_interval: 50
    kernel_metrics_interval: 50
    losses_interval: 10
    efficiency_interval: 10 
    num_views: 8
    enable_lpips: False # disable lpips for faster training


# Experiment 1: Repulsion lambda sweep with multiple prompts
exp1_lambda_coarse_rlsd:
  name: exp1_lambda_coarse_rlsd
  method: grid
  sweep_parameters:
    # prompt: 
    #   hamburger: "a photo of a hamburger" # simple prompt
    #   icecream: "a photo of an ice cream" # complex prompt
    #   saguaro: "a small saguaro cactus planted in a clay pot" # complex prompt
    #   tulip: "a photo of a tulip" # simple prompt
    # repulsion_type: ['rlsd']
    # kernel_type: ['rbf', 'cosine']
    # lambda_repulsion: # TODO: add more values
    #   rlsd_cosine: [1e2, 5e2, 1e3, 5e3, 1e4]
    #   rlsd_rbf: [1e2, 5e2, 1e3, 5e3, 1e4]
    # seed: [42]

    prompt: 
      hamburger: "a photo of a hamburger" # simple prompt
      # icecream: "a photo of an ice cream" # complex prompt
      saguaro: "a small saguaro cactus planted in a clay pot" # complex prompt
      # tulip: "a photo of a tulip" # simple prompt
    repulsion_type: ['rlsd']
    kernel_type: ['rbf', 'cosine']
    lambda_repulsion: # TODO: add more values
      # rlsd_cosine: [1e2, 5e2, 1e3, 5e3, 1e4, 5e4, 1e5]
      # rlsd_rbf: [1e2, 5e2, 1e3, 5e3, 1e4, 5e4, 1e5]
      rlsd_cosine: [5e4, 1e5]
      rlsd_rbf: [5e4, 1e5]
    seed: [42]
    
  fixed_parameters:
    num_particles: 8
    feature_extractor_model_name: "facebook/dinov2-base"
    feature_layer: 11
    rbf_beta: 1.0
    cosine_beta: 1.0
    cosine_eps_shift: 1e-3
    iters: 1500
    use_sigma_weight: True
    rep_sigma_power: 0.5
    use_cosine_decay: True
    rep_cosine_warmup: 0.2
    invert_bg_prob: 0.0 # always white background

    eval_radius:
      hamburger: 3.0
      icecream: 4.0
      saguaro: 4.0
      tulip: 4.0

  settings:
    # visualize
    visualize: True
    save_iid: False
    visualize_fixed_viewpoint: True
    visualize_fixed_viewpoint_interval: 100

    eval_W: 256
    eval_H: 256
    
    # metrics
    metrics: True
    quantitative_metrics_interval: 50
    kernel_metrics_interval: 50
    losses_interval: 10
    efficiency_interval: 10 
    num_views: 8
    enable_lpips: False # disable lpips for faster training

exp2_lambda_fine_svgd:
  name: exp2_lambda_fine_svgd
  method: grid
  sweep_parameters:
    prompt: 
      hamburger: "a photo of a hamburger"
      # icecream: "a photo of an ice cream"
      saguaro: "a small saguaro cactus planted in a clay pot"
      # tulip: "a photo of a tulip"
    repulsion_type: ['svgd']
    kernel_type: ['rbf', 'cosine']
    lambda_repulsion: # TODO: add more values # ±(×/÷)1.5–2 배
      svgd_rbf: [1100, 1000, 1200, 900, 1400] # [900, 1000, 1100, 1200, 1400] # [150, 250, 350]
      svgd_cosine: [900, 1000, 800, 1100] # [800, 900, 1000, 1100] # [350, 500, 650]
      
    seed: [42, 123, 456] # TODO: add more seeds
    
  fixed_parameters:
    num_pts: 5000
    num_particles: 8
    feature_extractor_model_name: "facebook/dinov2-base"
    feature_layer: 11
    rbf_beta: 1.0
    iters: 1500
    use_sigma_weight: True
    rep_sigma_power: 0.5
    use_cosine_decay: True
    rep_cosine_warmup: 0.3 # increase for svgd to avoid overshooting
    invert_bg_prob: 0.0 # always white background

    eval_radius:
      hamburger: 3.0
      icecream: 4.0
      saguaro: 4.0
      tulip: 4.0

  settings:
    # visualize
    visualize: True
    save_iid: False
    visualize_fixed_viewpoint: True
    visualize_fixed_viewpoint_interval: 100

    eval_W: 256
    eval_H: 256
    
    # metrics
    metrics: True
    quantitative_metrics_interval: 50
    kernel_metrics_interval: 50
    losses_interval: 10
    efficiency_interval: 10 
    num_views: 8
    enable_lpips: False # disable lpips for faster training

exp2_lambda_fine_rlsd:
  name: exp2_lambda_fine_rlsd
  method: grid
  sweep_parameters:
    prompt: 
      hamburger: "a photo of a hamburger"
      # icecream: "a photo of an ice cream"
      saguaro: "a small saguaro cactus planted in a clay pot"
      # tulip: "a photo of a tulip"
    repulsion_type: ['rlsd']
    kernel_type: ['rbf', 'cosine']
    lambda_repulsion: # TODO: add more values # ±(×/÷)1.5–2 배
      rlsd_cosine: [800, 1000, 1200, 1500, 2000] # [900, 1000, 1100, 1200, 1300] # [700, 900, 1100]
      rlsd_rbf: [500, 700, 1000, 1500] # [1000, 1100, 1200, 1400, 1600] # [300, 500, 700]
    seed: [42, 123, 456] # TODO: add more seeds
    
  fixed_parameters:
    num_pts: 5000
    num_particles: 8
    feature_extractor_model_name: "facebook/dinov2-base"
    feature_layer: 11
    cosine_beta: 1.0
    cosine_eps_shift: 1e-3
    iters: 1500
    use_sigma_weight: True
    rep_sigma_power: 0.5
    use_cosine_decay: True
    rep_cosine_warmup: 0.2
    invert_bg_prob: 0.0 # always white background

    eval_radius:
      hamburger: 3.0
      icecream: 4.0
      saguaro: 4.0
      tulip: 4.0

  settings:
    # visualize
    visualize: True
    save_iid: False
    visualize_fixed_viewpoint: True
    visualize_fixed_viewpoint_interval: 100

    eval_W: 256
    eval_H: 256
    
    # metrics
    metrics: True
    quantitative_metrics_interval: 50
    kernel_metrics_interval: 50
    losses_interval: 10
    efficiency_interval: 10 
    num_views: 8
    enable_lpips: False # disable lpips for faster training


### START SPOTCHECK ### 
exp2b_beta_spotcheck_rbf:
  name: exp2b_beta_spotcheck_rbf
  method: grid
  sweep_parameters:
    prompt:
      hamburger: "a photo of a hamburger"
      saguaro: "a small saguaro cactus planted in a clay pot"
    repulsion_type: ['svgd', 'rlsd']
    kernel_type: ['rbf']
    lambda_repulsion:
      rlsd_rbf: [500]   # 각자 sweet-spot 중앙값 하나만
      svgd_rbf: [250]
    rbf_beta: [0.5, 1.0]   # ← 여기만 스팟체크
    seed: [42]
  fixed_parameters: { ...exp2와 동일... }
  settings: { ...exp2와 동일... }

exp2b_beta_spotcheck_cosine:
  name: exp2b_beta_spotcheck_cosine
  method: grid
  sweep_parameters:
    prompt:
      hamburger: "a photo of a hamburger"
      saguaro: "a small saguaro cactus planted in a clay pot"
    repulsion_type: ['rlsd']
    kernel_type: ['cosine']
    lambda_repulsion:
      rlsd_cosine: [900]    # 중앙값 하나
    cosine_beta: [1.0, 2.0] # 스팟체크
    seed: [42]
  fixed_parameters: { ... }
  settings: { ... }

### END SPOTCHECK ###   

exp3_beta:
  name: exp3_beta
  method: grid
  sweep_parameters:
    prompt: 
      hamburger: "a photo of a hamburger" # simple prompt
      icecream: "a photo of an ice cream" # complex prompt
      saguaro: "a small saguaro cactus planted in a clay pot" # complex prompt
      tulip: "a photo of a tulip" # simple prompt
    repulsion_type: ['rlsd', 'svgd']
    kernel_type: ['rbf', 'cosine']
    lambda_repulsion: # TODO: λ* from exp2_lambda_fine
      rlsd_rbf: 1000
      svgd_rbf: 1000
      rlsd_cosine: 1000
      svgd_cosine: 1000 
    seed: [42, 123, 456]
    rbf_beta: [0.5, 1.0, 2.0, 4.0] # β for RBF kernel
    cosine_beta: [0.1, 0.3, 1.0, 3.0, 10.0] # β for cosine kernel
    
  fixed_parameters:
    
    num_particles: 8
    feature_extractor_model_name: "facebook/dinov2-base"
    feature_layer: 11
    iters: 1500
    cosine_eps_shift: 1e-3
    use_sigma_weight: True
    rep_sigma_power: 0.5
    use_cosine_decay: True
    rep_cosine_warmup: 0.2
    invert_bg_prob: 0.0 # always white background

  settings:
    # visualize
    visualize: True
    save_iid: False
    visualize_fixed_viewpoint: True
    visualize_fixed_viewpoint_interval: 100

    eval_W: 800
    eval_H: 800
    
    # metrics
    metrics: True
    quantitative_metrics_interval: 50
    kernel_metrics_interval: 50
    losses_interval: 10
    efficiency_interval: 10 
    num_views: 8
    enable_lpips: False # disable lpips for faster training